.github/**          @centreon/owners-pipelines

*.js                @centreon/owners-nodejs
packag*.json        @centreon/owners-nodejs

.gitleaks.toml      @centreon/owners-security
.gitleaksignore     @centreon/owners-security
